---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<form name="form">
  <input
    name="solider"
    type="number"
    min="0"
    ng-model="mc.offense.soldier"
  />
  <input
    name="recluse"
    type="number"
    min="0"
    ng-model="mc.offense.recluse"
  />
  <input
    name="guardian"
    type="number"
    min="0"
    ng-model="mc.offense.guardian"
  />
  <input
    name="brute"
    type="number"
    min="0"
    ng-model="mc.offense.brute"
  />
  <span><% mc.offense.soldier * 1 + mc.offense.recluse * 2 + mc.offense.guardian * 1 + mc.offense.brute * 3 %></span>
</form>

<h1>Formula</h1>
<pre>
//offense
j1=(soldier*1+recluse*2+guardian*1+brute*3)/j5
j2=(radical*8+guardian*1+brute*3+warthog*4)/j5
j3=(brute*3+radical*8+sparrow*3+hive*1+warthog*1)/j5
j4=(radical*1+recluse*3+brute*6+sickle*3)/j5

//total offense power
j5=solider*1+merc*2+radical*8+recluse*2+guardian*1+brute*3+sparrow*3+hive*1+spade*1+razor*3+warthog*4+mirage*3+nuke*1000+sickle*3

//offense effectiveness
j7=(soldier*1+merc*2+radical*8)/j5
j8=(recluse*2+guardian*1)/j5
j9=(brute*3+razor*3)/j5
j10=(sparrow*3+hive*1+spade*1+warthog*4+mirage*3+sickle*3)/j5


//defense numbers
a19=soldiers
b19=merc
c19=conscripts
d19=recluse
e19=guardian
f19=brute
g19=sparrow
h19=hive
i19=spade
c20=morale
d20=de
e20=sickle

//total defense power
j6=soldier*1+merc*1+conscripts*1+recluse*1+guardian*3+brute*2+sparrow*1+hive*3+spade*3+razor*1+warthog*1+mirage*2+sickle*1

j11=(soldier*1+recluse*1+brute*2+guardian*3)/j6
j12=(guardian*3+brute*2+warthog*1)/j6
j13=(brute*2+sparrow*1+hive*3+warthog*1)/j6
j14=(spade*3+razor*1+mirage*4+sickle*1)/j6

j15=(solduer*1+merc*1+conscripts*1)/j6
j16=(recluse*1+guardian*3)/j6
j17=(brute*2+razor*1)/j6
j18=(sparrow*1+hive*3+spade*3+warthog*1+mirage*2+sickle*1)/j6


//offense score
j5*(j1*j15+j2*j16+j3*j17+j4*j18+1) // retribution not a thing? *(1+b17/2)

//defense score
j6*(j11*j7+j12*j8+j13*j9+j14*j10+1)*(1+(c20/2))*d20
</pre>
